@media(max-width: 600px) {
    #background img.background {
        opacity: 0;
    }

    #background img.bg-mobile {
        opacity: 1;
    }

    .content {
        display: flex;
        max-width: 300px;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
        justify-items: center;
        align-items: center;
        top: 65%;
        left: 50%;
        transform: translate(-50% -50%);
        border-radius: 10px 10px 10px 10px;
    }

    .arquivo {
        height: 200px;
        margin-bottom: 0;
        padding-left: 15px;
        width: 100%;
        margin-right: 0;
    }

    .itens-grid {
        gap: 16px;
    }

    .document {
        top: 68px;
        left: 22px;
    }
    
    .folder {
        top: 71px;
        left: 85px;
    }
    
    .upload {
        top: 72px;
        left: 148px;
    }

    .storage {
        border-radius: 20px;
        width: 80%;
        flex: 0.2;
        margin-top: 20px;
    }

    p { 
        font-size: 14px;
    }

    .bar {
        margin-bottom: 280px;
        width: 250px;
        margin-left: -8px;
    }

    .bar>span {
        width: 180px;
    }

    .bar>span>span {
        margin-left: 169px;
    }
}