:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);

}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    font-size: 14px;
    background-color: var(--very-dark-blue);
}

#background img.background {
    position: fixed;
    width: 100vw;
    height: 50vh;
    bottom: 0;
}

#background img.bg-mobile {
    opacity: 0;
}

.content {
    max-width: 800px;
    width: 100%;
    height: 180px;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.storage {
    background-color: var(--dark-blue);
    display: flex;
    flex: 1;
    margin-top: 55px;
    border-radius: 12px;
    padding: 30px 32px;
}

.pop-up {
    background-color: white;
    width: 180px;
    height: 72px;
    position: absolute;
    right: 30px;
    top: 0;
    border-radius: 12px;
}

.triangulo {
    position: absolute;
    border-top: 20px solid white;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
    top: 52px;
    right: 30px;
    width: 0;
    height: 0; 
}

.pop-up p,
.pop-up p span {
    color: var(--grayish-blue);
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin-top: 14px; 
}

.pop-up p span {
    margin-top: 10px;
}

.pop-up strong {
    color: var(--very-dark-blue);
    margin-right: 8px;
    font-size: 36px;
    font-weight: 700;
}

.right {
    position: absolute;
    right: 30px;
    bottom: 32px;
}

.left {
    position: absolute;
    left: 30px;
    bottom: 32px;
    margin-left: 334px;
}

.bar {
    display: flex;
    background-color: var(--very-dark-blue);
    height: 16px;
    width: 400px;
    position: absolute;
    bottom: 56px;
    border-radius: 20px;
}

.bar>span {
    content: "";
    background-image: linear-gradient(90deg,
        hsl(6, 100%, 80%),
        hsl(335, 100%, 65%)
    );
    width: 300px;
    margin-left: 2px;
    height: 12px;
    margin-top: 2px;
    border-radius: 30px;
}

.bar>span>span {
    content: "";
    display: flex;
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 290px;
}


.arquivo {
    width: 310px;
    background-color: var(--dark-blue);
    display: block;
    border-radius: 20px 75px 20px 20px;
    margin-right: 25px;
}

.arquivo img {
    margin: 38px 0 12px 32px;
}

.itens-grid {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    gap: 8px;
    margin-left: 32px;
}

.document, .folder, .upload {
    position: absolute;
}

.document {
    top: 68px;
    left: 14px;
}

.folder {
    top: 71px;
    left: 68px;
}

.upload {
    top: 72px;
    left: 124px;
}

.itens-grid li {
    background-color: var(--very-dark-blue);
    list-style: none;
    height: 48px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.itens-grid li:hover {
    background-color: var(--pale-blue);
}

.itens-grid li:active {
    background-color: var(--grayish-blue);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}